# Entorno virtual (colocado en la raíz del proyecto)
env/
ENV/
venv/
.VENV/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.so
*.log
*.tmp
*.swp
*.bak
*.orig
*.DS_Store

# Archivos de configuración de sistema o editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de pruebas o de entorno
*.sqlite3
*.db
*.pkl
*.csv
*.json

# Archivos binarios exportados o de documentación
*.png
*.drawio.bkp
*.zip

# Documentación generada o intermedia
docs/_build/
docs/_static/
docs/.DS_Store

# Jupyter Notebooks 
.ipynb_checkpoints/

# Configuración de sistema operativo
Thumbs.db
ehthumbs.db
.DS_Store
